{% extends "twitter/standard_layout.html" %}
{% block content %}

<article class="media mt-2">
    <div class="media-body">
        <h2 class="article-title"> {{ object.user.username }} ({{ object.user.get_full_name }}) Profile </h2>
        <div>
            <img src="{{ object.image.url }}" class="img-fluid mb-2" alt="Profile image">
        </div>

        <p class="article-content"> {{ object.description }} </p>

        <a class="btn btn-secondary" style="color:white;" href="{% url 'user-twitts-list' object.user.username %}">Show all twitts</a>
        {% if user.is_authenticated and object.user == user %}
            <a class="btn btn-primary" style="color:white;" href="{% url 'profile-update' object.pk %}">Edit</a>
        {% endif%}
    </div>
</article>

{% endblock %}