{% extends "twitter/standard_layout.html" %}
{% load static %}

{% block scripts %}
{{ block.super }}
    <script type='text/javascript' src="{% static 'twitter/preview.js' %}"></script>
{% endblock %}

{% block content %}
    <h2 class="text-center">Home</h2>
    {% include "twitter/twitts_list.html" %}
{% endblock %}