<div class="ml-3 sidebar mt-2">
    <div>
        <h3>Actions</h3>
    </div>

    <ul class="list-unstyled components sidebar-list">
        <li> <a href="{% url 'twitter-home' %}">Home</a> </li>

        {% if user.is_authenticated %}
            <li> <a href="{% url 'twitt-create' %}">Create twitt!</a> </li>
            <li> <a href="{% url 'profile-show' user.profile.pk %}">My profile</a> </li>
            <li> <a href="{% url 'user-update' %}">Change yourself</a> </li>
            <li> <a href="{% url 'change-password' %}">Change password</a> </li>
        {% endif %}
    </ul>
</div>