<header>
    <nav class="navbar navbar-twitter">
        <div>
            <a class="navbar-brand nav-item nav-link" href="{% url 'twitter-home' %}">Tłitter</a>
        </div>
        <div>
            {% if user.is_authenticated %}
                {{ user.username }} ({{ user.get_full_name }})
                <a class="navbar-brand nav-item nav-link" href="{% url 'logout' %}">Log out - please don't...</a>
            {% else %}
                <a class="navbar-brand nav-item nav-link" href="{% url 'register' %}">Sign up</a>
                <a class="navbar-brand nav-item nav-link" href="{% url 'login' %}">Sign in</a>
            {% endif %}
        </div>
    </nav>
</header>