{% extends "twitter/standard_layout.html" %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <h2> Are you sure you want to delete twitt '{{ object.title }}'? </h2>
    <button class="btn btn-danger" type="submit">Delete!</button>
</form>

{% endblock %}