{% extends "twitter/standard_layout.html" %}
{% block content %}

<h2 class="text-center">Twitt details</h2>
<article class="media mt-2 content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a href="{% url 'profile-show' object.author.profile.pk %}"> {{ object.author.username }} </a>
            {{ object.creation_date }}

            {% if object.last_update_date != None %}
                <br>
                <small> Last update {{ object.last_update_date }} </small>
            {% endif %}
        </div>
        <h2 class="article-title"> {{ object.title }} </h2>
        <p class="article-content"> {{ object.content }} </p>

        {% if user.is_authenticated and object.author == user %}
            <a class="btn btn-primary" style="color:white;" href="{% url 'twitt-update' object.pk %}">Edit</a>
            <a class="btn btn-danger" style="color:white;" href="{% url 'twitt-delete' object.pk %}">Delete</a>
        {% endif%}
    </div>
</article>

{% endblock %}