{% extends "twitter/standard_layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <form method="POST">
        <h2 class="text-center">Update twitt</h2>
        {% csrf_token %}
        {{ form|crispy }}
        <div>
            <button class="btn btn-primary" type="submit">Update Twitt</button>
        </div>
    </form>
</div>
{% endblock %}