{% for twitt in twitts %}
    <article class="media mt-2 content-section">
        <div id="twitt#{{ twitt.pk }}" class="media-body">
            <div class="article-metadata">
                <a id="profile_link_{{ forloop.counter }}" class="profile_link" data-title="{{ twitt.author.get_full_name }}" data-toggle="popover"
                   data-placement="top" data-trigger="hover" data-html="true" href="{% url 'profile-show' twitt.author.profile.pk %}"
                    data-content="<img src='{{ twitt.author.profile.image.url }}'></img>">
                     {{ twitt.author.username }}
                </a>
                {{ twitt.creation_date }}

                {% if twitt.last_update_date != None %}
                    <br>
                    <small> Last update {{ twitt.last_update_date }} </small>
                {% endif %}
            </div>
            <h2 class="article-title"> {{ twitt.title }} </h2>
            <p class="article-content">
                {% csrf_token %}
                <div class="twitt-content">
                    {{ twitt.content }}
                </div>
            </p>
            <a class="btn btn-secondary" style="color:white;" href="{% url 'twitt-show' twitt.pk %}">Details</a>
            {% if twitt.author == user %}
                <button class="btn btn-primary modify-twitt-button"> Modify content </button>
            {% endif %}
        </div>
    </article>
{% endfor%}

{% if is_paginated %}
    <div class="text-center mb-3">
        <a class="btn btn-light" href="?page=1"><<</a>
        {% if page_obj.has_previous %}
            <a class="btn btn-light" href="?page={{ page_obj.previous_page_number }}"><</a>
        {% endif %}
        {% if page_obj.number > 3%}
            <a class="btn btn-light">...</a>
        {% endif %}

        {% for page in page_obj.paginator.page_range %}
            {% if page == page_obj.number %}
                <a class="btn btn-dark" href="?page={{ page }}">{{ page }}</a>
            {% elif page < page_obj.number|add:'3' and page > page_obj.number|add:'-3' %}
                <a class="btn btn-light" href="?page={{ page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.number|add:'3' < page_obj.paginator.num_pages %}
            <a class="btn btn-light">...</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="btn btn-light" href="?page={{ page_obj.next_page_number }}">></a>
        {% endif %}
        <a class="btn btn-light" href="?page={{ page_obj.paginator.num_pages }}">>></a>
    </div>
{% endif %}
