.navbar-twitter {
    background-color: blueviolet;
}

.navbar a {
    color: black;
}

.sidebar-list {
    border: black 1px solid;
    border-radius: 3px;
    padding: 10px 20px;
}

.message {
    width:100%;
}

.sidebar {
    width: 15%;
    float: left;
}

.content-section {
  padding: 10px 20px;
  border: 2px groove blueviolet;
  border-radius: 20px;
  margin-bottom: 20px;
}

.friends {
    float: right;
}

.editable-twitt-content {
    width: 100%;
}